@media screen and (min-width: 1800px) {
    .ehs-overview {
        background-position: 0 -100px;
    }
}
@media (max-width: 1200px) {
    .cbs-table {
        width: 100%;
        overflow-x: scroll;
    }
    #whowearepagesection .section7 .purposepr .pruslider .owl-stage-outer,
    .awsl-secsl .owl-stage-outer,
    .business-secsl .owl-stage-outer,
    .infrastructure-tabs-slider .owl-stage-outer,
    .products-repair-slider .owl-stage-outer,
    .techeq .owl-stage-outer,
    .testimonial-slider .owl-stage-outer {
        overflow: hidden;
    }
    .section5 {
        background: url(/storage/images/tab_session5.webp) 0 0 / cover;
        background-attachment: unset;
        height: 496px;
        display: none;
    }
    .section6 {
        background: url(/storage/images/session5.webp) center/cover;
        height: 496px;
        background-attachment: unset;
    }
}
@media (max-width: 1024px) {
    .keyfact-content-n2 .container {
        width: 100%;
    }
    .listFullWidth ul li {
        width: 100% !important;
        max-width: 100% !important;
        text-align: left !important;
    }
    .section5 {
        background: url(/storage/images/tab_session5.webp) 0 0 / cover;
        background-attachment: unset;
        height: 496px;
        display: none;
    }
    .section6 {
        background: url(/storage/images/tab_session6.webp) center/cover;
        height: 496px;
        background-attachment: unset;
    }
    .section7 {
        background-position: center;
    }
    .section6 .abt-btn {
        margin: 15px 0;
    }
    header {
        max-width: 100%;
    }
    .banner-content,
    .tpst,
    .tpst1 {
        padding-left: 0;
    }
    .row.tpst {
        padding-left: 30px;
    }
    .banner-bredcrum ul {
        padding: 20px 0 60px;
    }
    .tpst2 {
        padding: 0;
    }
    .alcohol-overview .col-md-8{
        padding-left: 15px;
    }
    .alcohol-overview .col-sm-12{
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .brandsPage .brand-banner,
    .brandsPage .germs-sec-inner,
    .brandsPage .sugar {
        background-repeat: no-repeat;
        background-attachment: unset;
        background-position: center;
    }
    #sugar-shagun {
        background-image: url(/storage/images/sugar-sagun-tab1024.webp) !important;
        background-size: cover;
        background-position: bottom;
        min-height: 768px;
        background-repeat: no-repeat;
    }
    #sugar-opration {
        background-image: url(/storage/images/integrated-operations1024.webp) !important;
    }
    #powersection #overview,
    #sugarsection #overview,
    .Water-overview,
    .defence-overview {
        background-image: none !important;
        height: auto;
        padding: 50px 0;
    }
}
@media (max-width: 768px) {
    .brandsPage .brand-banner,
    .brandsPage .germs-sec-inner,
    .brandsPage .sugar {
        background-repeat: no-repeat;
        background-attachment: unset;
    }
    .scrollbar-who p,
    .who-tab ul li {
        text-align: center;
    }
    .communityPage .power-tabs.community-tabs .triveni-foundation ul li,
    .row.tpst {
        max-width: 100%;
    }
    #powersection #overview,
    #sugarsection #overview,
    .Water-overview,
    .defence-overview {
        background-image: none !important;
        height: auto;
        padding: 50px 0;
    }
    .infrastructure-tabs-data {
        transition: 0.5s;
        -webkit-box-shadow: 0 0 8px 0 rgb(0 0 0 / 23%);
        -moz-box-shadow: 0 0 8px 0 rgb(0 0 0 / 0.23);
        box-shadow: 0 0 8px 0 rgb(0 0 0 / 23%);
        background: #fff;
        padding: 50px 30px;
        min-height: 325px;
        align-items: center;
        margin: 8px;
    }
    .keyfactsvideo-n2 .in-key-numbers h4 {
        font-size: 26px !important;
    }
    .ar-web-slider.owl-carousel .owl-stage,
    .bdslider.owl-carousel .owl-stage,
    .new-build-slider.owl-carousel .owl-stage,
    .testimonial-slider.owl-carousel .owl-stage {
        padding-left: 0 !important;
    }
    .spare-data {
        min-height: 300px;
        display: flex;
        align-items: end;
        padding-top: 0;
        -webkit-box-shadow: 0 0 5px 0 rgb(0 0 0 / 26%);
        -moz-box-shadow: 0 0 5px 0 rgb(0 0 0 / 0.26);
        box-shadow: 0 0 5px 0 rgb(0 0 0 / 26%);
        border: none;
        background: #fff;
        margin: 5px;
    }
    .keyfact-content-n1,
    .keyfact-content-n2 {
        top: 10px !important;
        left: 15px !important;
    }
    .power-tabs ul li a {
        min-height: auto;
    }
    .who-tab ul li {
        max-width: 49%;
        width: 100%;
    }
    .pd-l-65 {
        padding-left: 0;
    }
    .communityPage .power-tabs ul li {
        width: 100% !important;
    }
    .ldsec ul li a {
        font-size: 14px;
    }
    .row.tpst {
        padding-left: 15px;
        width: 100%;
    }
    .testimonial-slider .owl-dots {
        position: absolute;
        right: 0;
        bottom: -40px;
        z-index: 99;
        left: 0;
    }
    .hrtg-bexs img {
        display: block;
        margin: 0 auto;
    }
    .section7 {
        background: url(/storage/images/joinustab.webp) bottom/cover no-repeat;
        width: 100%;
    }
    #sugar-farmer,
    #sugar-opration,
    #sugar-shagun,
    .germs-care2,
    .infrastructure-key-facts {
        background-repeat: no-repeat;
        background-position: bottom;
        background-attachment: initial;
    }
    #sugar-farmer,
    #sugar-opration,
    #sugar-shagun,
    .brand-banner,
    .community-banner,
    .germs-care2 {
        background-size: cover;
    }
    .brand-banner {
        background-image: url(/storage/images/triveni-brands-tab.webp);
        width: 100%;
        height: 100vh;
    }
    #sugar-farmer {
        background-image: url(/storage/images/sugar-img.webp) !important;
    }
    .germs-care2 {
        background-image: url(/storage/images/Germs-care2tab.webp) !important;
    }
    .communityPage .power-tabs.community-tabs ul li a {
        min-height: 65px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .community-banner {
        background-image: url(/storage/images/comty-banner-tab.webp);
        width: 100%;
        height: 100vh;
    }
}
@media (max-width: 991px) {
    .filterData {
        flex-direction: column;
        gap: 0;
    }
    .media-releases .filterData .form-group {
        margin: 15px 0;
    }
    section#sugarSlide-mbl h2 {
        margin-top: 0;
        padding-bottom: 20px;
    }
    .imil-after-text {
        padding: 50px 20px 24px;
    }
    .locati-right {
        margin-top: 0px;
    }
    .btn.btn-default.searchTxt,
    .btn.btn-default.searchBtn {
        height: 30px;
        font-size: 14px;
        line-height: 16px;
    }
    .mainSearch .form-control {
        height: 30px;
        font-size: 25px;
        line-height: 30px;
    }
    .mainSearch .form-control::placeholder {
        font-size: 25px;
        line-height: 30px;
    }
    .resultsIns h3 {
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 55px;
    }
    .resultsIns h3 span {
        font-size: 14px;
        line-height: 19px;
    }
    .indResult h4 {
        color: #707070;
        font-size: 16px;
        line-height: 19px;
        font-weight: 600;
        margin-bottom: 8px;
    }
    .indResult > p {
        font-size: 14px;
        line-height: 16px;
        font-weight: 400;
        color: #707070;
        margin-bottom: 18px;
    }
    .indResult {
        border-bottom: 2px solid rgb(112 112 112 / 0.5);
        padding-bottom: 25px;
        margin-bottom: 25px;
    }
    .laodMoreSearch button {
        text-align: center;
        display: block;
        margin: 0 auto;
        background-color: #fff0;
        border: 1px solid #f58220;
        color: #f58220;
        padding: 7px 25px;
        font-size: 14px;
        line-height: 16px;
        font-weight: 400;
    }
    .rimobilePart {
        display: flex;
        justify-content: end;
        gap: 22px;
        align-items: center;
        height: 65px;
    }
    .searchMbl img {
        width: 20px;
    }
    .mobileSearch {
        height: calc(100vh - 65px);
        background-color: #fff;
        position: fixed;
        z-index: 999;
        width: 100%;
        padding: 0 15px;
        bottom: 0;
        overflow: scroll;
    }
    .mobileSearch .cross-btn img {
        filter: brightness(0);
    }
    .popularSearch h3,
    .quickLinks h3 {
        font-size: 16px;
        line-height: 19px;
        color: #f58220;
        margin-bottom: 18px;
        font-weight: 600;
    }
    .popularSearch ul {
        padding: 0;
        list-style: none;
        display: flex;
        gap: 32px;
        margin-bottom: 34px;
        flex-direction: column;
    }
    .quickLinks ul {
        padding: 0;
        list-style: none;
        margin-bottom: 54px;
        display: flex;
        gap: 5px;
        align-items: start;
        flex-direction: column;
    }
    .popularSearch ul li a {
        font-size: 18px;
        line-height: 21px;
        color: #707070;
        font-weight: 400;
    }
    .searchMbl {
        display: block;
    }
    .my-sidenav,
    .my-sidenav1 {
        position: fixed;
        overflow-x: hidden;
        z-index: 999999999;
        height: 100vh;
        max-width: 0;
        top: 0;
        width: 100%;
    }
    .lead-white-bg,
    .logo {
        float: left;
    }
    #Join-the-team {
        display: inherit;
    }
    .jointm h4 {
        padding-top: 60px;
    }
    header {
        padding: 0;
        box-shadow: none;
        box-shadow: 0 8px 6px -6px rgb(0 0 0 / 0.2);
        width: 100%;
        left: 0;
        right: 0;
        height: 65px;
        background-color: rgb(0 0 0 / 0.5);
    }
    header .navbar-header {
        float: none;
    }
    .ham-icon {
        display: block;
        cursor: pointer;
        margin-top: 0;
        margin-right: 0;
    }
    .menu {
        display: none;
    }
    .my-sidenav {
        display: block;
        right: 0;
        background-color: rgb(65 59 111 / 0.9);
        transition: 0.5s;
        -webkit-transition: 0.5s;
    }
    .my-sidenav > ul {
        padding: 0 20px;
    }
    .my-sidenav > ul > li > ul {
        margin-top: 0;
        display: none;
    }
    .my-sidenav ul.submenu li ul.submenu,
    .my-sidenav1 ul.submenu li ul.submenu {
        display: none;
        position: static;
        width: 100%;
    }
    .my-sidenav ul {
        list-style-type: none;
        padding-left: 15px;
    }
    .my-sidenav ul li {
        border-bottom: 1px solid #fff;
        padding: 15px 0;
    }
    .my-sidenav > ul > li > ul > li {
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }
    .my-sidenav ul.submenu li ul.submenu li:last-child,
    .my-sidenav1 ul.submenu li ul.submenu li:last-child,
    .my-sidenav1 > ul > li > ul > li:last-child,
    .my-sidenav > ul > li > ul > li:last-child {
        border-bottom: 0;
    }
    .my-sidenav ul.submenu li ul.submenu li {
        border-bottom: 1px solid #fff;
        padding: 10px;
    }
    .my-sidenav ul.submenu li ul.submenu li a {
        color: #fff;
        font-size: 16px;
    }
    .my-sidenav .submenu-indicator-minus .submenu-indicator {
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .my-sidenav .submenu-indicator {
        font-size: 30px;
        position: absolute;
        line-height: 25px;
        right: 15px;
    }
    .my-sidenav > ul > li > a {
        color: #fff;
        font-size: 17px;
    }
    .my-sidenav > ul > li > ul > li > a {
        color: #fff;
        font-size: 14px;
    }
    .my-sidenav > ul > li > ul > li > a img {
        padding-right: 10px;
    }
    .banner-content h1 {
        margin-right: 0;
        margin-top: 0;
        font-size: 32px;
    }
    .my-sidenav1 {
        display: block;
        left: 0;
        background-color: #000;
        transition: 0.5s;
        -webkit-transition: 0.5s;
    }
    .my-sidenav1 > ul {
        padding: 15px 0 10px;
    }
    .my-sidenav1 > ul > li > ul {
        display: none;
        margin-left: 0;
    }
    .my-sidenav1 ul {
        list-style-type: none;
        padding-left: 0;
    }
    .my-sidenav1 ul li {
        border-bottom: 1px solid #1a1a1a;
        padding: 0;
        position: relative;
    }
    .my-sidenav1 > ul > li > ul > li {
        padding: 10px 0;
        border-bottom: none;
    }
    .my-sidenav1 ul.submenu li ul.submenu li {
        border-bottom: 1px solid #de5d08;
        padding: 10px;
    }
    .my-sidenav1 ul.submenu li ul.submenu li a {
        font-size: 16px;
    }
    .cross-btn {
        position: absolute;
        z-index: 9;
        right: 13px;
        top: 25px;
        opacity: 1;
        border-radius: 15px;
        color: #fff;
        font-weight: 100;
    }
    .my-sidenav1 .submenu-indicator-minus .submenu-indicator {
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        transition: 0.3s;
        right: 15px;
    }
    .my-sidenav1 .submenu-indicator {
        font-size: 30px;
        position: absolute;
        line-height: 25px;
        right: 15px;
        transition: 0.3s;
        display: flex;
        align-items: center;
        top: 18px;
    }
    .my-sidenav1 > ul > li > a {
        font-size: 16px;
        color: #fff;
        text-decoration: none;
        padding: 15px;
        display: inline-block;
    }
    .my-sidenav1 > ul.inner-nav1 > li > a {
        font-size: 16px;
        color: #fff;
        display: block;
        position: relative;
        z-index: 99;
    }
    .my-sidenav1 > ul > li > ul > li > a {
        font-size: 14px;
        color: #fff;
        padding: 15px;
    }
    .logo {
        margin-top: 0;
        padding-top: 8px;
    }
    .corporate-bredcrum ul {
        padding: 20px 0 !important;
    }
    .ldsec.financial-tabs {
        padding: 40px 0 20px;
    }
    .financial-tabs .faq-tab {
        display: -webkit-box;
        overflow-x: scroll;
        overflow-y: hidden;
        width: 100%;
    }
    .financial-tabs ul.faq-tab li {
        max-width: fit-content !important;
        width: 100%;
        text-align: center;
    }
    .annual-web {
        margin-top: 10px;
    }
    .web-pdf a {
        margin: 0 2px;
    }
    .cg-bod-tabs-inner h2 {
        font-size: 20px;
        padding-bottom: 20px;
        margin-top: 15px;
    }
    .financial-tabs .tab-content > .tab-pane {
        margin-bottom: 5px;
    }
    .form-group.yes-no-flex,
    .iepf-click {
        display: block;
    }
    .iepf-click a {
        margin-left: 0;
    }
    .new-faqqs-acco {
        margin-bottom: 40px;
        margin-top: 0;
    }
    .new-faqqs > .panel-heading a[aria-expanded="false"]:after {
        content: url(/storage/images/col-out-icon.webp);
        height: 60px;
        top: 0;
        left: 0;
    }
    .new-faqqs-acco h2 {
        padding-top: 70px;
        padding-bottom: 10px !important;
    }
    .new-faqqs-acco h2.nomination-mis-head {
        padding-top: 0px !important;
    }
    .gapBTMRes{
        margin-bottom: 10px;
    }
    .csr-overview,
    .ehs-overview,
    .sustain-overview{
        padding-bottom: 0px;
        }
    .cg-bod-slider .owl-stage-outer {
        overflow: hidden;
    }
    .mainfooter .col-md-2.col-xs-4 {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .mainfooter p {
        text-align: left;
        font-weight: 500;
        font-size: 12px;
        color: #fff;
        margin: 20px 0 0;
    }
    .mainfooter .col-md-2.col-xs-6 p a {
        text-align: left !important;
        padding: 10px 0;
        text-decoration: none;
        color: #fff;
        font-weight: 700;
        border-bottom: 1px solid #fff;
        margin-bottom: 0;
        display: inline-block;
        font-size: 13px;
    }
    .footer-linkss ul li a {
        margin-bottom: 0;
        padding: 10px 0;
        margin-right: 15px;
        font-size: 12px;
    }
    .keyfact-content-n1,
    .keyfact-content-n2 {
        top: 20px;
        left: 0;
    }
    #Business .business-sec,
    #whowearepagesection .mission-sec .mission,
    #whowearepagesection .section2 .col-md-8,
    .keyfacts .keyfact-content-n2 .col-md-12,
    .purposepr,
    .tbnumdata,
    .value-sec .value {
        padding-left: 0;
    }
    .init-img,
    .keyfacts.k1 h2 {
        padding-bottom: 20px;
    }
    .keyfacts.k1 h6 {
        font-size: 30px;
    }
    .section.key-facts h2 {
        padding-bottom: 15px;
    }
    .ind-n1:after {
        right: 0;
        background-color: #fff0;
    }
    .power-tabs ul li a {
        min-height: 65px;
    }
    .v1 {
        margin-top: 40px;
    }
    .mr-btm45 .col-md-3,
    .waterpagebtn a {
        margin-bottom: 20px;
    }
    .tbnumdata .col-md-3::after {
        background-color: #fff0;
        right: 0;
        min-height: auto;
    }
    #Our-Performance .col-md-6,
    .tbnumdata .col-md-3 {
        margin-bottom: 30px;
    }
    .keyfactsvideo-n2 .in-key-numbers h4 {
        font-size: 28px;
    }
    .col-md-2-5 {
        width: 33%;
    }
    .lead-section2 {
        background-position: center;
    }
    .infrastructure-key-facts .container,
    .infrastructure-tabs.ldsec ul li a {
        width: 100%;
    }
    .infrastructure-key-facts .fact-details {
        border-right: none;
    }
    .arinvsec .col-md-6:nth-child(2) {
        padding-right: 15px;
        padding-left: 0;
    }
    .community-tabs p {
        padding-top: 10px;
    }
    .pruslider.owl-theme .owl-dots {
        left: 0;
        right: 0;
    }
    .footercp .col-md-4,
    .footercp .container,
    .mbnum {
        display: initial;
    }
    .footercp .col-md-4 p,
    .mbnum p {
        text-align: center;
    }
    .footercp ul {
        justify-content: center;
        margin: 20px 0;
    }
    .mainfooter ul {
        min-height: 235px;
    }
    .footer-linkss ul {
        min-height: auto;
    }
    .heritage-sl-new .owl-nav button.owl-prev {
        left: 0;
    }
    .heritage-sl-new .owl-nav button.owl-next {
        right: 0;
    }
}
@media (max-width: 767px) {
    .t-overview {
        background-image: none!important;
    }
    .awinner span.inline-award {
        display: inline;
    }
    .tpst.pdlRmv {
        padding-left: 0px !important;
    }
    .cstmhd-pwr-aftrsrvc {
        padding-right: 0px !important;
    }
    .investor-overview {
        background-image: none !important;
    }
    .sustain-overview-mbl img {
        width: 100%;
    }
    #defence .alcohol-overview {
        padding-left: 15px;
        padding-right: 15px;
        height: auto;
        display: inherit;
        margin-top: 0;
    }
    #powersection .power-overview .container {
        padding-left: 0px !important;
    }
    .ehs-overview-mbl img {
        width: 100%;
    }
    #Water-solutions .alcohol-overview {
        padding-left: 15px;
        padding-right: 15px;
        height: auto;
        display: inherit;
    }
    #resouce-center .video-thumb ul li,
    .business-sec h2,
    .mainfooter img,
    .our-pritem h6,
    .our-pritem p,
    .section3 h2,
    .section4 h2,
    .section6 h2 {
        text-align: left;
    }
    .community-banner,
    .covid-banner,
    .media-date,
    .rprudata,
    .viewss {
        position: relative;
    }
    .germcare-overviewupdated .col-md-8 {
        padding: 0 !important;
    }
    .designedgetjobslider h2 {
        padding-top: 30px !important;
    }
    .designedgetjobslider .container {
        padding-left: 15px !important;
    }
    #homepagesection .section2 .owl-dots,
    .designedgetjobslider ul,
    .footercp .col-md-4,
    .footercp .container,
    .heritage-sl .item {
        display: block;
    }
    .designedgetjobslider ul li {
        margin-right: 0;
        border-right: 0;
        max-width: 50%;
        float: left;
        min-height: 140px;
    }
    .arinvsec,
    .heritage-sl .item img,
    .high-power-list ul li,
    .infrastructure-tabs-details ul li,
    .jointm,
    .our-pritem,
    .power-tabs ul li,
    .purposepr,
    .srch-center {
        max-width: 100%;
    }
    .c-address .col-md-6,
    .germcareenzymeprdt a {
        margin-bottom: 50px;
    }
    .designedgetjobslider .item1 {
        background-image: url(/storage/images/Floor-cleaner-mobile.webp);
    }
    .designedgetjobslider .item2 {
        background-image: url(/storage/images/tioilet-mobile.webp);
    }
    .designedgetjobslider .item3 {
        background-image: url(/storage/images/Glass-&-Multi-Surface-Cleaner-mobile.webp);
    }
    .germcare-bannerupdated .container {
        top: -25% !important;
    }
    #popup-name {
        margin-bottom: 15px;
    }
    #resouce-center .video-thumb ul li.vid-n1 p,
    #whowearepagesection .section3 h6,
    .aftermarketing-link a {
        font-size: 14px;
    }
    .new-buildstory-data h6 {
        min-height: 145px;
    }
    #whowearepagesection .section7 .purposepr .demo__tip img,
    .demo__tip img {
        width: 50px;
    }
    #sugar-farmer p,
    .agriintop#sugar-opration .col-md-8 p,
    .keyfacts p,
    .mda-panel.media-acco .panel-heading h4 {
        padding-right: 0;
    }
    #interactive .col-sm-4,
    #overview .col-md-8,
    #resouce-center .col-md-8,
    .banner-content,
    .can-banner .col-md-6,
    .community-tabs .col-md-12,
    .csr-past-municipal .col-md-12,
    .infrastructure-tabs.ldsec h6,
    .ips-accord .col-md-12,
    .our-pritem .item,
    .p-contact .col-md-12,
    .p-contact .col-md-6,
    .section1 .col-md-12,
    .section2 .col-md-12,
    .section2 .container,
    .section4 .container,
    .section8 .item,
    .tbnumdata,
    .topft,
    .tpst-municipal .col-md-12 {
        padding: 0;
    }
    .dropdownheading input {
        margin: 0 0 25px;
    }
    .mainfooter,
    .new-build {
        padding: 30px 0;
    }
    .financial-tabs ul.faq-tab,
    .power-tabs ul.faq-tab,
    .stepwizard {
        width: 100%;
        display: inline-flex;
        overflow-x: auto;
        overflow-y: hidden;
        padding-bottom: 10px;
    }
    .financial-tabs ul.faq-tab::-webkit-scrollbar-track,
    .power-tabs ul.faq-tab::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
        border-radius: 10px;
        background-color: #ebebeb;
    }
    .financial-tabs ul.faq-tab::-webkit-scrollbar,
    .power-tabs ul.faq-tab::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        background-color: #ebebeb;
    }
    .financial-tabs ul.faq-tab::-webkit-scrollbar-thumb,
    .power-tabs ul.faq-tab::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
        background-color: #f5821f;
    }
    #Our-Performance,
    #whowearepagesection .section2 .col-md-8,
    .bus-sec .col-md-12,
    .infrastructure-tabs ul,
    .repair-service ul,
    .sub-data ul {
        padding-left: 15px;
    }
    .media-data h4,
    .repair-service ul li {
        font-size: 16px;
    }
    .financial-tabs ul li a {
        width: 200px;
    }
    .ldsec-1 .bod-sldr .abusdt p {
        border-bottom: 0;
    }
    .section,
    .t-overview {
        height: auto;
    }
    .section1 .arrowSection {
        display: block;
        right: 0;
        left: 0;
        margin: auto;
        text-align: center;
        bottom: 70px;
    }
    .banner-bredcrum ul {
        padding: 70px 0 12px;
    }
    .banner-bredcrum {
        bottom: 0;
    }
    .section1,
    .section5,
    .section6,
    .section7 {
        height: 100vh;
    }
    #whowearepagesection .section7 .purposepr .pruslider .owl-stage-outer,
    .awsl-secsl .owl-stage-outer,
    .business-secsl .owl-stage-outer {
        overflow: hidden;
    }
    html.homepage {
        overflow: visible !important;
    }
    .search-btn,
    .section5,
    .slide-img {
        display: none;
    }
    #resouce-center .container,
    header .container {
        padding: 0 15px;
    }
    .brand-banner .banner-content {
        padding: 0 0 270px;
    }
    .brand-page .indi-icons {
        width: 33.33%;
        float: left;
        text-align: center;
        margin-bottom: 20px;
        min-height: 122px;
    }
    .brand-page .indi-cert {
        width: 16%;
        float: left;
        margin-right: 10px;
    }
    .brand-page .certification-icons {
        width: 100%;
        display: block;
        padding: 20px 0;
    }
    .banner-content h1,
    .d-pop-text h2,
    .lead-white-bg h2,
    .pe-lg-12 h2 {
        font-size: 24px;
    }
    .banner-content p span {
        display: initial;
    }
    .section1 {
        display: flex;
    }
    .section7 {
        background: url(/storage/images/mbsession7.webp) 0 0 / cover;
        background-attachment: initial;
    }
    .section6 {
        background: url(/storage/images/mbsession6.webp) 0 0 / cover;
        background-attachment: initial;
    }
    .section6 .abt-btn {
        padding-left: 0;
        text-align: center;
    }
    .arinvsec {
        border: 0;
    }
    .brand-page .indi-icons {
        min-height: 135px;
        margin-top: 10px;
    }
    .benefit-box,
    .fact-details,
    .in-key-numbers,
    .infrastructure-key-facts .fact-details,
    .media-number {
        border-right: none;
    }
    .bannernum h6 {
        font-size: 22px;
    }
    .banner-content p {
        font-size: 14px;
        line-height: 16px;
        padding: 10px 0 5px;
    }
    .bannernum {
        margin-top: 150px;
    }
    .txtline {
        width: 83%;
    }
    .business-sec h2 {
        padding-top: 0;
        font-size: 30px;
        margin-bottom: 20px;
    }
    .section3 h2 {
        font-size: 30px;
        padding: 60px 0 40px;
    }
    .arsc h6,
    .media-releases h4 span {
        padding-top: 10px;
    }
    .business-secsl .owl-nav button.owl-next {
        left: 0;
        right: -50px;
    }
    .business-secsl .owl-nav button.owl-prev {
        left: -50px;
        right: 0;
    }
    .about-covid .container,
    .joinus-overview .col-md-8 {
        padding-left: 15px;
        padding-right: 15px;
    }
    #Business .business-sec,
    #whowearepagesection #Our-Heritage h2,
    #whowearepagesection .mission-sec .mission,
    .Boilerplt .col-md-12,
    .arinvsec .col-md-6:first-child,
    .business-ovrview .col-md-12,
    .jointm,
    .keyfacts .col-md-12,
    .section6 h2,
    .tpst,
    .value-sec .value,
    .video-thumb .infrastructure-tabs ul,
    .vision-sec .vision {
        padding-left: 0;
    }
    .heritage-sl .item img {
        float: initial;
        margin: auto;
    }
    .section3 {
        padding-bottom: 60px;
    }
    .keyfacts.k1 h2,
    .section4,
    .section4 h2 {
        padding-bottom: 40px;
    }
    .stepwizard::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 0.3);
        border-radius: 10px;
        background-color: #ebebeb;
    }
    .stepwizard::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        background-color: #ebebeb;
    }
    .stepwizard::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 0.3);
        background-color: #154822;
    }
    .arinvsec .col-md-6:nth-child(2) {
        padding-right: 15px;
        margin-top: 20px;
    }
    .arsc h6 {
        font-size: 18px;
        font-weight: 700;
    }
    .section4 h2 {
        font-size: 30px;
    }
    .our-pritem {
        padding: 0;
    }
    .agri-quality,
    .alcohol-quality,
    .certi,
    .jointm h2,
    .operationmanagmt,
    .section6 h2 {
        padding-top: 60px;
    }
    .our-pritem h6 {
        font-size: 32px;
    }
    .peritem.owl-theme .owl-dots .owl-dot.active span,
    .peritem.owl-theme .owl-dots .owl-dot:hover span {
        background-color: #f1892a;
    }
    .peritem.owl-theme .owl-dots .owl-dot:focus {
        outline: 0;
    }
    .section6 .abt-btn a {
        margin: 0;
        display: inline-block;
    }
    .in-key-numbers p,
    .jointm p,
    .mb-1-9 img,
    .section.key-facts h2,
    .soilhealth img {
        padding-bottom: 30px;
    }
    .a-sales-box,
    .cotechnology .col-md-3,
    .topft .container {
        padding: 15px 0;
    }
    .topft .col-md-1 {
        padding-left: 10px;
        padding-right: 5px;
    }
    .topft p {
        padding: 5px 0;
    }
    .mainfooter img {
        margin: inherit;
    }
    .mainfooter .col-md-2 p {
        text-align: left;
        padding: 25px 0;
    }
    .mainfooter .col-md-1 p {
        color: #fff;
        font-weight: 700;
        border-bottom: 1px solid #fff;
        margin-bottom: 10px;
        display: inline-block;
        font-size: 12px;
    }
    .mainfooter .container {
        display: flex;
        flex-wrap: wrap;
    }
    .certiacc .nav-tabs,
    .cpt-tab.nav-tabs,
    .power-tabs .faq-tab {
        overflow-x: scroll;
        overflow-y: hidden;
        display: -webkit-box;
        width: 100%;
    }
    .footercp ul,
    .mbnum {
        display: inline-flex;
    }
    .footercp .col-md-4 p {
        padding-right: 0;
        padding-bottom: 10px;
    }
    .footercp {
        padding: 60px 0 30px;
        text-align: center;
    }
    .footercp .col-md-6 ul li {
        border-right: 0;
        width: 33.33%;
        padding: 0;
        float: left;
        margin-bottom: 2px;
    }
    .footercp .col-md-6 ul {
        display: block;
        overflow: hidden;
        margin: 20px 0 10px;
    }
    .footercp ul li a {
        font-size: 12px;
    }
    .community-banner .banner-content,
    .parent .bus-con,
    .t-overview .col-md-6 {
        padding-top: 0;
    }
    .parent .bus-con p {
        font-size: 20px;
        margin-top: 20px;
    }
    .l-update .mission-dt,
    .section8 .item:hover {
        box-shadow: none;
    }
    .section1 .container {
        top: 0;
        position: relative;
        width: 100%;
    }
    .video-thumb {
        margin-top: 30px;
        padding: 20px 15px;
        height: auto;
    }
    #resouce-center .video-thumb ul li a img {
        margin: auto;
    }
    .power-tabs .video-thumb ul li a {
        min-height: 192px;
    }
    .video-thumb li a,
    .video-thumb li.active a,
    .video-thumb li.active a:focus,
    .video-thumb li.active a:hover {
        display: block;
        padding: 10px;
        background-color: #f5821f;
    }
    .infrastructure-tabs .video-thumb ul {
        width: 100%;
        display: inline-flex;
        overflow-x: auto;
        overflow-y: hidden;
        padding-left: 0;
    }
    .financial-tabs ul.faq-tab::-webkit-scrollbar-track,
    .infrastructure-tabs .video-thumb ul::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
        border-radius: 10px;
        background-color: #ebebeb;
    }
    .financial-tabs ul.faq-tab::-webkit-scrollbar,
    .infrastructure-tabs .video-thumb ul::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        background-color: #ebebeb;
    }
    .financial-tabs ul.faq-tab::-webkit-scrollbar-thumb,
    .infrastructure-tabs .video-thumb ul::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
        background-color: #f5821f;
    }
    #resouce-center .video-thumb p {
        text-align: center;
        padding: 10px 15px;
        min-width: auto;
    }
    #resouce-center .row,
    .our-projects-data {
        margin: 0;
    }
    .alcohol-banner {
        background: url(/storage/images/mobile/alhol-banner-mbl.webp) 0 0 / cover;
    }
    .application1-mbl,
    .application2-mbl {
        background-position: center;
        background-size: cover;
    }
    .alcohol-overview {
        background-image: none;
        background-attachment: initial;
        display: inherit;
        padding-bottom: 20px;
    }
    .industry-serve {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .d-img,
    .industry-box,
    .mr-btm45 .col-md-3,
    .sus-business {
        margin-bottom: 30px;
    }
    .germs-sec-inner h3,
    .media-number h3 {
        font-size: 30px;
    }
    .germs-care1 {
        background-image: url(/storage/images/mobile/GermCare-Hand-mobile.webp);
    }
    .germs-care2,
    .imil-banner {
        background-image: url(/storage/images/mobile/Germs-care2-mbl.webp);
    }
    .germs-care {
        padding-top: 35px;
    }
    .defence-banner {
        background-image: url(/storage/images/mobile/defe-banner-mbl.webp);
    }
    .investor-banner {
        background-image: url(/storage/images/mobile/investor-banner-mbl.webp);
    }
    .quality-data {
        margin: 5px;
    }
    .in-key-numbers {
        border-bottom: 1px solid #fff;
        margin-bottom: 40px;
    }
    .benefit-box.in-last,
    .ehs-o.in-last,
    .in-key-numbers.in-last,
    .keyfacts .col-md-3:last-child,
    .media-number.in-last,
    .tbnumdata .col-md-3:last-child,
    .techeq .rprudata p:last-child,
    .value-sec .value p.in-last {
        border-bottom: none;
    }
    .in-key-highlight h2 {
        margin-bottom: 60px;
    }
    .mission-dt {
        transition: 0.5s;
        -webkit-box-shadow: 0 0 8px 0 rgb(0 0 0 / 23%);
        -moz-box-shadow: 0 0 8px 0 rgb(0 0 0 / 0.23);
        box-shadow: 0 0 8px 0 rgb(0 0 0 / 23%);
        margin: 5px 0;
    }
    .agri-quality h2,
    .agri-quality p,
    .benefit-box,
    .benefit-box p,
    .hrtg-bexs img,
    .lead-white-bg,
    .p-mbl-repair h2 {
        margin-bottom: 20px;
    }
    .kit-icons {
        padding-top: 15px;
    }
    .investor-kit .mission-dt h3 {
        min-height: 36px;
        font-size: 13px;
    }
    .germcare-banner {
        background-image: url(/storage/images/mobile/Germs-care1-mbl.webp);
    }
    .benefit-box {
        border-bottom: 1px solid #bfc0c0;
        min-height: auto;
    }
    .germcare h5,
    .waterpagebtn a {
        margin-bottom: 10px;
    }
    .germcare-overview {
        background-image: url(/storage/images/mobile/about-germcare-mbl.webp);
        height: 100vh;
        padding: 60px 0 0;
    }
    .prdct-ingred {
        background-image: url(/storage/images/mobile/product-ingredients-mbl.webp);
    }
    .solutionsind {
        padding-bottom: 45px;
    }
    .solutionsind .business-secsl.owl-theme .owl-dots {
        bottom: -30px;
    }
    .application-mbl .application-innner,
    .aw-data,
    .waterpagebtn {
        margin-top: 60px;
    }
    .imil-overview {
        background-image: none;
        height: auto;
    }
    .imil-overview-mbl {
        margin-top: 30px;
    }
    .insolution-banner {
        background-image: url(/storage/images/mobile/insolution-banner-mbl.webp);
    }
    .dessolution-banner {
        background-image: url(/storage/images/mobile/des-banner-mbl.webp);
    }
    .mda-panel.panel-group .panel-heading + .panel-collapse > .panel-body {
        padding-left: 15px;
        padding-right: 15px !important;
    }
    .joinus-banner {
        background-image: url(/storage/images/mobile/joinus-banner-mbl.webp);
    }
    #powersection #overview,
    #sugarsection #overview,
    .joinus-overview {
        background-image: none;
        background-attachment: initial;
    }
    .joinus-overview {
        height: auto;
        padding-bottom: 30px;
    }
    .cpt-tab.nav-tabs li a,
    .vision-1 p {
        font-size: 18px;
    }
    .leadership-banner {
        background-image: url(/storage/images/mobile/leadership-banner-mbl.webp);
    }
    .lead-section1 {
        background-image: url(/storage/images/mobile/dhruv_mobile_img.webp);
        height: 100vh;
        align-items: flex-end;
    }
    .lead-section2 {
        background-image: url(/storage/images/mobile/Tarun-bg-mbl.webp);
        height: 100vh;
        align-items: flex-end;
    }
    .lead-white-bg {
        padding: 15px;
    }
    .bod-box {
        transition: 0.5s;
        -webkit-box-shadow: 0 0 5px 0 rgb(0 0 0 / 26%);
        -moz-box-shadow: 0 0 5px 0 rgb(0 0 0 / 0.26);
        box-shadow: 0 0 5px 0 rgb(0 0 0 / 26%);
        min-height: 320px;
    }
    .p-contact ul li a {
        font-size: 17px;
    }
    .media-banner {
        background-image: url(/storage/images/mobile/media-banner-mbl.webp);
    }
    .media-sec1 {
        padding-top: 80px;
    }
    .view-all-press-btn a {
        padding: 10px 20px;
    }
    .media-releases .form-group {
        margin: 30px 0;
    }
    .media-releases select {
        max-width: 85%;
        margin-left: 10px;
    }
    .media-detail {
        padding: 20px 15px;
        -webkit-box-shadow: 0 0 15px 0 rgb(0 0 0 / 26%);
        -moz-box-shadow: 0 0 15px 0 rgb(0 0 0 / 0.26);
        box-shadow: 0 0 15px 0 rgb(0 0 0 / 26%);
    }
    #cane-develpage .solutionsind .story-data,
    .solutionsind .story-data {
        -webkit-box-shadow: 0 0 8px 0 rgb(0 0 0 / 23%);
        -moz-box-shadow: 0 0 8px 0 rgb(0 0 0 / 0.23);
    }
    .media-number {
        border-bottom: 1px solid #d1d1d1;
        margin-bottom: 15px;
        padding-bottom: 15px;
    }
    .media-releases h4 {
        font-size: 14px;
        line-height: 18px;
    }
    .municipal-banner {
        background-image: url(/storage/images/mobile/municipal-banner-mbl.webp);
    }
    .brand-banner {
        background-image: url(/storage/images/mobile/brand-banner.webp);
    }
    .brand-overview {
        min-height: auto;
        padding-top: 50px;
    }
    .germs-sec-inner {
        background-image: url(/storage/images/mobile/Germs-care1-mbl.webp);
        height: 100vh;
        background-attachment: initial;
    }
    .shagun-inner {
        background-image: url(/storage/images/mobile/sugar-shagun.webp);
    }
    .liqur {
        background-image: url(/storage/images/mobile/liqur-banner.jpg);
    }
    .germs-sec-inner h5 {
        font-size: 24px;
        font-weight: 700;
        padding-top: 50px;
        padding-bottom: 10px;
    }
    .germcare h5,
    .sub-data p {
        font-weight: 600;
    }
    .germcare h5 {
        font-size: 16px;
        text-decoration: underline;
    }
    .insideban {
        background-image: url(/storage/images/mobile/who-we-are-banner.webp);
    }
    #Water-solutions .section8.awardsec p,
    .can-overview,
    .cogen-overview,
    .q2-n1 p,
    .tb-ovrview,
    .value-sec .value h2 {
        padding-bottom: 0;
    }
    .section.we-serve,
    .value-sec {
        padding: 60px 0;
    }
    .value-sec .col-md-3::after {
        right: 0;
        background-color: #fff0;
    }
    .value-sec .value p {
        padding-right: 0;
        border-bottom: 1px solid #a7a3a3;
        padding-bottom: 10px;
    }
    .purposepr {
        padding-left: 0;
    }
    #whowearepagesection .section7 {
        padding: 40px 0 50px;
    }
    .rprudata {
        min-height: 285px;
    }
    #whowearepagesection .section8 .story-data {
        background-color: #fff;
        min-height: 260px;
    }
    #whowearepagesection .section8 .story-data h6 {
        min-height: 85px;
        font-size: 16px;
    }
    #whowearepagesection .section8.awardsec h2 {
        padding-bottom: 20px;
        margin-top: 60px;
    }
    .filterDiv {
        background-color: #fff;
    }
    .certiacc h5 {
        background-color: #0a0a0a;
        color: #fff;
    }
    .certiacc h6 {
        min-height: 140px;
        line-height: 22px;
    }
    .certiacc p {
        padding-bottom: 20px;
        min-height: 250px;
        line-height: 24px;
    }
    .sub-data p,
    .sub-data ul li {
        padding-bottom: 10px;
    }
    .certiacc .certificate-para-various p {
        padding-left: 0;
        min-height: auto;
    }
    .power-banner {
        background-image: url(/storage/images/mobile/power-banner.webp);
    }
    #powersection #overview {
        display: inherit;
        height: auto;
        padding-top: 60px;
    }
    .power-tabs ul li a {
        width: 200px !important;
        min-height: 54px;
    }
    .power-tabs .faq-tab {
        margin-bottom: 25px;
    }
    #Join-the-team,
    #Our-Heritage,
    .Water-overview,
    .agri-industry,
    .bus-sec,
    .peritem .item {
        display: inherit;
    }
    .fact-details {
        border-bottom: 1px solid #fff;
        min-height: auto;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }
    .ehs-o,
    .techeq .rprudata p {
        border-bottom: 1px solid #ccc;
    }
    .application1-mbl {
        background-image: url(/storage/images/mobile/power-high-power-high-speed.webp);
        height: 100vh;
    }
    .application2-mbl {
        background-image: url(/storage/images/mobile/power-low-speed-gear.webp);
        height: 100vh;
    }
    .map-box {
        min-height: auto;
        margin-bottom: 60px;
    }
    .map-box h3 {
        font-size: 14px;
        line-height: 20px;
    }
    a.infrastructure-link {
        font-size: 13px;
        padding: 10px;
        margin-top: 10px;
    }
    .sugar-banner {
        background-image: url(/storage/images/mobile/sugar-banner.webp);
    }
    #sugarsection #overview {
        padding-left: 15px;
        padding-right: 15px;
        height: auto;
        display: inherit;
        margin-top: 0;
    }
    .section.sugar-facts {
        background-image: url(/storage/images/mobile/Sugar-key-fact.webp);
    }
    #sugar-opration {
        background-image: url(/storage/images/mobile/Sugar-intregate-opereations.webp);
        background-attachment: initial;
    }
    #sugar-shagun {
        background-image: url(/storage/images/mobile/sugar-shagun.webp) !important;
        padding: 30px 0;
        background-attachment: initial;
    }
    .application-innner,
    .ind-gap,
    .sustain-overview h5 {
        margin-top: 0;
    }
    .application-innner p {
        margin-top: 5px;
        margin-bottom: 10px;
    }
    #sugar-farmer,
    #sugar-farmer2 {
        background-image: url(/storage/images/mobile/suagr-farmer-outreach.webp);
        background-attachment: initial;
        height: 100vh;
    }
    .cmn-serve-mdl.modal .modal-dialog {
        max-width: 95%;
    }
    .Water-banner {
        background-image: url(/storage/images/mobile/water-banner.webp);
    }
    .Water-overview {
        background-image: none;
        padding-bottom: 0;
        padding-top: 0;
    }
    .solutionsind .story-data {
        box-shadow: 0 0 8px 0 rgb(0 0 0 / 23%);
        background-color: #fff;
    }
    .keyfacts .col-md-3 {
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: 1px solid #fff;
    }
    .tbnumdata .col-md-3 {
        border-bottom: 1px solid #a7a3a3;
        padding-bottom: 15px;
        margin-bottom: 15px;
    }
    .keyfacts .col-md-3::after,
    .keyfacts .col-md-4::after,
    .tbnumdata .col-md-3::after {
        position: absolute;
        content: "";
        background-color: #fff0;
        right: 0;
        min-height: auto;
    }
    .keyfacts.k1 .col-md-4 {
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 30px;
    }
    .can-banner {
        background-image: url(/storage/images/mobile/cane-development-banner.webp);
    }
    #cane-develpage .solutionsind .story-data {
        box-shadow: 0 0 8px 0 rgb(0 0 0 / 23%);
        min-height: 270px;
    }
    .brand-overview .col-md-12,
    .ehs-sec3 .prdct-slider,
    .repair-overview .col-md-12,
    .soilhealth .col-md-6,
    .sus-business .col-md-4,
    .sus-business .col-md-5,
    .sus-business .col-md-8 {
        padding-left: 0;
        padding-right: 0;
    }
    .co-generationban {
        background-image: url(/storage/banners/mobile/co-genation-banner.webp);
    }
    .conenerationplant {
        background-image: url(/storage/images/mobile/co-genan-plant.webp);
        background-attachment: initial;
    }
    .conenerationplant .tbnumdata .col-md-3 {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    .conerationfacilites {
        background-attachment: initial;
    }
    .cotechnology {
        padding-top: 50px;
    }
    .cotechnology .col-md-3::after {
        background-color: #fff0;
        right: 0;
        min-height: auto;
    }
    .bod-sec .bod-sldr.owl-carousel .owl-item img,
    .col-md-2-5,
    .infrastructure-key-facts .container,
    .tp-stories .story-data img {
        width: 100%;
    }
    .rprudata,
    .techeq .rprudata {
        max-width: 100%;
        padding: 10px 15px 0;
        background-color: #000;
    }
    .ar-web-slider .owl-stage,
    .bdslider .owl-stage,
    .bod-sldr .owl-stage,
    .cg-bod-slider .owl-stage,
    .new-build-slider .owl-stage,
    .testimonial-slider .owl-stage,
    .viewss p,
    h2.v1 {
        padding-left: 0 !important;
    }
    .techeq .demo__tip {
        margin-top: 40%;
        font-size: 16px;
    }
    .businessban {
        background-image: url(/storage/images/mobile/busbanner.webp);
    }
    .busovrsec2 .abusdt {
        margin: 25px 0;
    }
    .urban-utility-banner {
        background-image: url(/storage/images/mobile/urban-utility-banner.webp);
    }
    .our-projects-slider.owl-theme .owl-dots .owl-dot.active span,
    .our-projects-slider.owl-theme .owl-dots .owl-dot:hover span {
        background: #f5821f;
    }
    .agri-industry {
        padding: 30px 0 80px;
    }
    .scrollbar,
    .scrollbar-who {
        mask-image: none;
        -webkit-mask-image: none;
    }
    .opration-details h3 {
        margin-bottom: 0;
    }
    .p-mbl-repair {
        padding: 50px 0;
    }
    .l-update .demo__tip,
    .p-mbl-repair .demo__tip,
    .sus-ex .demo__tip {
        margin-top: 30%;
    }
    .infrastructure-banner {
        background-image: url(/storage/images/mobile/infra-banner.webp);
    }
    .new-build-slider .item {
        -webkit-box-shadow: 0 0 8px 0 rgb(0 0 0 / 23%);
        -moz-box-shadow: 0 0 8px 0 rgb(0 0 0 / 0.23);
        box-shadow: 0 0 8px 0 rgb(0 0 0 / 23%);
    }
    .new-buildstory-data {
        min-height: 300px;
        background-color: #fff;
    }
    #whowearepagesection .section8 .item,
    .a-sales-box.def-n1 h6,
    .ehs-o,
    .sus-icon {
        min-height: auto;
    }
    .new-products .new-buildstory-data {
        min-height: 355px;
    }
    .tbbanner {
        background-image: url(/storage/images/mobile/turbine-banner.webp);
    }
    .spare {
        padding: 60px 0 20px;
    }
    .high-power-list ul li {
        padding-bottom: 10px;
    }
    .csr-overview,
    .ehs-overview,
    .sustain-overview {
        height: auto;
        margin-top: 20px;
        padding-top: 0;
    }
    .heritage-sl-new .owl-nav button.owl-prev,
    .keyfact-content-n1,
    .mda-panel .panel-title > a.collapsed:before,
    .mda-panel .panel-title > a:before {
        left: -30px;
    }
    .init-img {
        padding-bottom: 20px;
    }
    .community-banner {
        background-image: url(/storage/images/mobile/counity-banner.webp);
    }
    .community-banner:after,
    .covid-banner:after {
        position: absolute;
        content: "";
        top: 0;
        background-color: rgb(0 0 0 / 0.6);
        height: 100%;
        z-index: 9;
        width: 100%;
    }
    .community-tabs p {
        padding-right: 0;
        padding-top: 10px;
    }
    .ehs-sec3 h3,
    .sustain-sec4 h2 {
        font-size: 20px;
    }
    .ehs-o {
        margin-top: 30px;
    }
    .ehs-sec3 .prdct-slider .item {
        border: 1px solid #949699;
        padding: 15px;
    }
    .pro-pors-sec {
        padding: 60px 0 100px;
    }
    .mission-sec .mission-dt {
        min-height: 280px;
    }
    .sustain-sec2 {
        padding-bottom: 0;
        padding-top: 30px;
    }
    .cpt {
        padding-top: 0;
        padding-bottom: 0;
    }
    .infrastructure-tabs-data {
        min-height: 315px;
        padding: 15px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .repair-a {
        min-height: 270px;
        margin: 5px;
    }
    .scrollbar-miti {
        height: auto;
        padding-right: 0;
    }
    .fst-italic {
        margin-top: 20px;
    }
    .covid-banner {
        background-image: url(/storage/images/mobile/covid-19-mobile-banner.webp);
    }
    .revers-eengineering-banner {
        background-image: url(/storage/images/mobile/Products-repair-banner.webp);
    }
    .resouce-center-banner {
        background-image: url(/storage/images/mobile/Resource-Center-banner.webp);
    }
    #better-Future a.orgbtn,
    div#better-Future h2 {
        margin-left: 0;
    }
    .peritem .item {
        height: auto;
    }
    .tp-stories .demo__card-cont {
        height: 27rem;
    }
    .tp-stories .story-data {
        background-color: #000;
        display: inline-block;
        width: 100%;
    }
    .tp-stories .story-data h6 {
        color: #fff;
        padding-left: 15px;
    }
    .tp-stories .demo__tip {
        text-align: center;
        font-size: 18px;
        position: absolute;
        z-index: 9;
        bottom: -50px;
        left: 0;
        right: 0;
        margin-bottom: 10px;
    }
    .per-text,
    .q2-n1 {
        margin-left: 0;
        margin-top: 10px;
    }
    h2.v1 {
        padding-top: 30px;
    }
    .vision-n1:before {
        left: 0;
        background-color: #fff0;
    }
    .value-sec .col-md-6 {
        display: inherit;
        margin-bottom: 20px;
    }
    .value-text-n1 {
        border-left: none;
        padding-left: 0;
        margin-left: 0;
    }
    .award-para p {
        color: #fff;
        margin-top: 0;
    }
    .ind-n1:after {
        right: 0;
        height: auto;
        background-color: #fff0;
    }
    .keyfact-content-n1,
    .keyfact-content-n2 {
        top: 60px;
    }
    .ps-n1 {
        min-height: 295px;
    }
    .p-mbl-repair .rprudata img {
        height: 70px;
    }
    .testimonial-data p {
        min-height: 210px;
    }
    .infa-new {
        margin-top: 40px;
    }
    .sd-n1 {
        min-height: 320px;
    }
    .q2-n1 p span {
        display: inline;
    }
    .quality-data-n1 {
        display: inherit;
        min-height: auto;
        margin-bottom: 30px;
    }
    .scrollbar-new {
        height: 160px;
    }
    .section2 {
        padding: 50px 0;
    }
    #whowearepagesection .section2,
    .about-covid {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .techeq {
        padding: 45px 0 0;
    }
    .invester-inner-link {
        margin: 10px 0;
    }
    .media-date {
        left: 0;
        top: 0;
        font-size: 14px;
        padding-top: 10px;
    }
    .pgn-area a {
        margin: 5px !important;
    }
    .bod-box-text {
        min-height: 105px;
    }
    .bod-box-text p {
        padding: 5px;
    }
    .leadership-modal .modal-body {
        display: inherit;
        padding: 30px 0;
    }
    .financial-dropdown1 {
        margin-top: 5px;
    }
    .panel.new-faqqs a {
        line-height: 20px;
        padding-left: 30px;
        padding-right: 0;
    }
    .new-faqqs .panel-body {
        padding: 0 0 0 20px;
    }
    a.digitl-btn {
        padding: 7px 12px;
    }
    .heritage-sl-new .owl-nav button.owl-next {
        right: 0;
    }
    img.comma1 {
        left: -20px;
    }
    .t-details {
        height: auto;
        padding-top: 30px;
        margin-bottom: 20px;
    }
    .t-overview .banner-bredcrum {
        position: inherit;
    }
}
@media (max-width: 580px) {
    #whowearepagesection .section2 h6 span {
        font-size: 30px;
    }
    .serve-innner {
        display: inherit;
    }
    .serve-box {
        width: 50%;
        border-right: none;
    }
    .brandsPage .germs-sec-inner {
        background-image: url(/storage/images/brands-page-slilde-mbl.webp) !important;
        background-position: center;
    }
}
@media (max-width: 420px) {
    .mobile-arrow {
        padding-bottom: 15px;
    }
    #Water-solutions .section8.awardsec h2,
    #overview h2,
    #products-repair h2,
    #sugar-farmer h2,
    #sugar-farmer2 h2,
    #sugar-opration h2,
    #whowearepagesection #Our-Heritage h2,
    #whowearepagesection .section8 h2,
    #whowearepagesection .section8.awardsec h2,
    .agri-industry .business-sec h2,
    .h5stylenw,
    .map-secc h2,
    .mb-1-6,
    .media-releases h2,
    .new-products h2,
    .power-transmission-sales-query h3,
    .quality-process h2,
    .r-and-d-inner h2,
    .repair-service h2,
    .section.contact-us h2,
    .section.key-facts h2,
    .section.new-build h2,
    .section.new-build2 h2,
    .section.testimonial-sec h2,
    .section.we-serve h2,
    .value-sec .value h2,
    .vision-sec .vision h2,
    h2,
    h5.main-heading {
        font-size: 24px;
    }
    #whowearepagesection .mission-sec h2,
    #whowearepagesection .section2 h2 {
        font-size: 24px;
        line-height: 30px;
        padding-bottom: 20px;
    }
    .germs-care h3 {
        font-size: 30px;
    }
    .alcohol-prdct h3 {
        font-size: 14px;
        line-height: 18px;
        min-height: auto;
    }
    .alcohol-overview h5 {
        font-size: 14px;
        line-height: 22px;
    }
    .quality-data {
        padding: 20px 15px;
    }
    .quality-data h6 {
        font-size: 16px;
        line-height: 20px;
    }
    .quality-data p {
        font-size: 15px;
        line-height: 22px;
    }
    .media-releases select {
        max-width: 80%;
    }
    .ldsec ul li a {
        font-size: 10px;
    }
    .awinner {
        padding: 12px 28px;
        margin-left: 60px;
    }
    .aw-data:before {
        content: "";
        position: absolute;
        background-image: url(/storage/images/mobile/aw-p.webp);
        width: 320px;
        height: 163px;
        top: 0;
        left: 35px;
    }
    .aw-data {
        min-height: 170px;
    }
    .busovrsec2 .business-secsl h6 {
        font-size: 15px;
    }
    .busovrsec2 .business-secsl .abusdt {
        min-height: auto;
    }
    .busovrsec2 .business-secsl .abusdt p {
        font-size: 14px !important;
        line-height: 22px;
        min-height: 110px;
    }
    .busovrsec2 .business-secsl .abusdt img {
        width: 100%;
    }
    .seltpbx select {
        max-width: 150px;
    }
    .footer-linkss ul li a {
        margin-right: 10px;
    }
    #whowearepagesection .section3 h6 {
        min-height: 65px;
    }
    .ldsec-1 .bod-sldr .abusdt p {
        min-height: 115px;
    }
    #whowearepagesection .section3 .col-md-4 .abusdt,
    .investor-kit .mission-dt {
        min-height: 350px;
    }
    .defence-prdct .mission-dt {
        min-height: 335px;
    }
    .defence-prdct .mission-dt .a-prdct {
        padding: 0 15px 15px;
    }
    .web-pdf a {
        font-size: 13px;
    }
    .tp-stories .demo__card-cont {
        height: 30rem;
    }
    .industry-panel.mda-panel .panel-heading h4 {
        font-size: 16px;
        display: flex;
        align-items: center;
    }
    .as .a-sales-box,
    .as1 .a-sales-box {
        margin-bottom: 0;
    }
    .industry-panel ul li {
        font-size: 12px;
    }
    .gry-bgg .quality-data {
        min-height: 125px;
    }
    .gry-bgg .quality-data h6 {
        margin-top: 20px;
    }
}
@media (max-width: 380px) {
    .a-sales-box h4,
    .sales-contact p {
        font-size: 14px;
    }
    .media-releases select {
        max-width: 75%;
    }
    .web-icon {
        margin-top: 0;
        margin-left: 4px;
    }
    .hrgt-yrs {
        padding: 5px 10px;
    }
    .footer-linkss ul li a {
        margin-right: 9px;
        margin-top: 0;
    }
    .certiacc p {
        min-height: 335px;
    }
    .certiacc h6 {
        font-size: 16px;
    }
    #whowearepagesection .section2 h6,
    .industry-panel.mda-panel .panel-heading h4 {
        font-size: 12px;
    }
    .industry-panel.mda-panel .panel-heading h4 img {
        padding-left: 0;
    }
    .section6 h2 {
        font-size: 18px;
    }
    .awinner {
        margin-left: 45px;
    }
    .aw-data:before {
        left: 16px;
    }
    .industry-panel ul li {
        font-size: 11px;
    }
}
@media (max-width: 360px) {
    .testimonial-data p {
        min-height: 235px;
    }
    .testimonial-data h6 {
        min-height: 80px;
    }
    .footer-linkss ul li a {
        margin-right: 6px;
    }
    .awinner {
        margin-left: 30px;
    }
    .aw-data:before {
        left: 5px;
    }
}